nav {
  background-color: rgb(255, 211, 66);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(83, 83, 83)
}

nav a:hover {
  background-color: #ffecb8;
}

nav li:first-child {
  margin-right: auto;
  font-weight: bold;
  
}
